*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
 width: 1440px;   
 height: 1013px;
 border: 5px solid red;
 margin: 0 auto;
 padding: 78px 160px 0;
 
}

section, article{
border: 5px solid black;
padding: 40px;
margin-top: 12px;
border-radius: 6px;
background: var(--base-card, #F3F2F2);

}

p{
    margin-bottom: 32px;
}

.input-wrapper{
    margin-bottom: 16px;
    
}
input{
    border-radius: 4px;
border: 1px solid var(--base-button, #E6E5E5);
background: var(--base-input, #EDEDED);
height: 42px;
}

.buttonsCheck{
    display: flex;
    align-items: center;
    gap: 12px;
   
}

button{
    border-radius: 6px;
    background: var(--base-button, #E6E5E5);
    border:none;
    height: 51px;
    padding: 16px;
    cursor: pointer;
    
   
}

aside{
    width: 448px;
    border: 5px solid blue;
    height: auto;
    padding: 40px;
    border-radius: 6px 44px;
background: var(--base-card, #F3F2F2);

}



