
.header{
 
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    
    
    .buttonLocation{
        border-radius: 6px;
        background: var(--brand-purple-light, #EBE5F9);
        border: none;
        padding: 8px;
    
    color: var(--brand-purple-dark, #4B2995);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
        
    }
    
    .buttonCart{
        border-radius: 6px;
        background: var(--brand-yellow-light, #F1E9C9);
        padding: 8px;
    
    }
    

    .container1{
        width: 544px;
    }
    
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:56px;
        height: 544px;
       
        background-image: url(../../../public/Background.svg);
        background-size: contain;
        
    }

    
    
    .h1{
        margin-bottom: 16px;
        color: var(--base-title, #272221);
    
        font-family: 'Baloo 2', sans-serif;
        font-size: 38px;
        font-weight: 800;
       
     
    }
    
    .p{
        margin-bottom: 66px;
        color: var(--base-subtitle, #403937);
        font-family: 'Roboto', sans-serif;
    
    
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
    }
    
    .ul {
        display: flex;
        flex-wrap: wrap; /* Quebra para a próxima linha quando não houver mais espaço */
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
    .li{
    flex-basis: 50%; /* Ocupa metade da largura disponível para cada item */
      flex-grow: 1; /* Permite o crescimento do item flexível */
      flex-shrink: 0; /* Impede que o item encolha caso o espaço seja menor que seu tamanho */
      padding: 10px; /* Adiciona espaçamento entre os itens */
      box-sizing: border-box; /* Inclui padding no tamanho total do elemento */
      display: flex; /* Adiciona display flex ao item da lista */
      align-items: center; /* Centraliza verticalmente o conteúdo */
      
    }
    
    .li image {
        margin-right: 10px; /* Adiciona um espaço de 10px à direita da imagem */
      }
    
    
    .h3{
       
    color: var(--base-text, #574F4D);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
    }
    
    .strong{
        color: var(--base-subtitle, #403937);
        font-family: 'Baloo 2', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%; /* 41.6px */
    
    }
    
    .h4{
       
        color: var(--base-subtitle, #403937);
    text-align: center;
    
    
    font-family: 'Baloo 2', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    }
    
    .menu .item span{
    
    color: var(--brand-yellow-dark, #C47F17);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    text-transform: uppercase;
    }
    
    .menu .item .p{
      
       color: var(--base-label, #8D8686);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    }
    
    
    .align{
        width: 1120px;
        height: 1360px;
        margin: 0 auto;
        
    
    
    }
    
    .menu{
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 4 colunas com largura igual */
            grid-template-rows: repeat(4, 310px); /* 4 linhas com altura de 100px */
            gap: 20px; /* Espaçamento entre os itens */
         
    
    }
    .item{
        width: 256px;
        height: 310px;
        border-radius: 6px 36px;
        background: var(--base-card, #F3F2F2);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    
    }
    
    .menu span{
    border-radius: 6px 36px;
    background: var(--brand-yellow-light, #F1E9C9);
    }
    
    
    
    
    
    